.about {
	padding: 2.5rem 1rem 1rem;
	border-bottom: 1px solid $gray-lighter;
	.avatar {
		margin: 0 auto;
		width: 12rem;
		> img {
			border: 1px solid $gray-lighter;
			border-radius: 0.75rem;
			width: 100%;
			height: auto;
			-webkit-box-shadow: 0px 55px 101px -53px rgba(179, 179, 179, 1);
			-moz-box-shadow: 0px 55px 101px -53px rgba(179, 179, 179, 1);
			box-shadow: 0px 55px 101px -53px rgba(179, 179, 179, 1);
		}
	}
	.about-content {
		margin: 2.5rem 0;
		text-align: center;
		.pitch {
			font-size: 1.125rem;
			font-weight: 500;
			margin-top: 0.75rem;
			line-height: 2rem;
		}
		.bio {
			display: none;
		}
	}
	.divider {
		height: 1px;
		background-image: $gradient;
	}
	.about-social h2 {
		display: none;
	}

	.about-icons {
		display: flex;
		justify-content: center;
		gap: 2.5rem;
		margin-top: 1rem;
		li a {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 2rem;
				height: 2rem;
				filter: brightness(0) saturate(100%) invert(72%) sepia(16%) saturate(365%) hue-rotate(175deg) brightness(87%) contrast(88%);
			}
			span {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 640px) {
	.about {
		.about-icons {
			li a {
				span {
					display: block;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.about {
		border-right: 1px solid $gray-lighter;
		border-left: 1px solid $gray-lighter;
		border-bottom: 0;
		padding: 3rem;
		min-height: 100%;
		.avatar {
			width: 20rem;
			> img {
				border-radius: 1rem;
			}
		}

		.about-content {
			text-align: left;
			.bio {
				display: block;
				margin: 3rem 0;
				h2 {
					position: relative;
					&::before {
						content: url('/assets/icons/rocket.svg');
						margin-right: 0.525rem;
					}
				}
				p {
					margin: 0.5rem 0;
				}
				.line-clamp {
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
			}
		}
		.divider {
			display: none;
		}
		.about-social {
			h2 {
				display: block;
				&::before {
					content: url('/assets/icons/stars.svg');
					margin-right: 0.525rem;
				}
			}
			.about-icons {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 1rem;
				.list-item {
					&:hover {
						img {
							filter: brightness(0) saturate(100%) invert(33%) sepia(11%) saturate(1080%) hue-rotate(176deg) brightness(90%) contrast(90%);
						}
					}
					span {
						margin-left: 0.75rem;
						font-weight: 500;
					}
				}
			}
		}
	}
	.bio-mobile {
		display: none;
	}
}
