@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

$gray-darker: #0c0c0c;
$gray-dark: #181818;
$gray: #5e6372;
$gray-light: #555b6c;

$font-color-primary: $gray-darker;
$font-color-secondary: $gray;
$font-color-tertiary: #256850;

$brand-default: #99d3be;
$brand-primary: #629a86;
$brand-secondary: #fbfbfb;
$brand-tertiary: #eff0f3;

$gradient: linear-gradient(315deg, $brand-secondary, $brand-default 80%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// overflow-x: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
	color: $font-color-primary;
	background: $brand-tertiary;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

main {
	margin-top: 7.2rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

@media screen and (min-width: 800px) {
	main {
		margin-top: 4.8125rem;
	}
}
