@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap');

$gray: #94a3b8;
$gray-light: #e2e8f0;
$gray-lighter: #e5e7eb;

$font-color-primary: #334155;
$font-color-secondary: #64748b;
$font-color-tertiary: #0f172a;
$icon-hover: #475569;

$brand-default: #fff;
$brand-primary: #ec4899;
$brand-primary-hover: ​#be185d;
$brand-secondary: #f8fafc;

$gradient: linear-gradient(90deg, rgba(229, 231, 235, 0) 0%, rgba(229, 231, 235, 1) 50%, rgba(229, 231, 235, 0) 100%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// overflow-x: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100%;
	color: $font-color-primary;
	background: $brand-default;
	font-family: 'Satoshi-Variable', sans-serif;
	font-size: 16px;
	font-weight: 400;
	#root {
		width: 100%;
	}
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

@media screen and (min-width: 1024px) {
	main {
		margin-left: 30rem;
		margin-bottom: 7rem;
	}
	footer {
		margin-left: 30rem;
	}
}
