.btn-cta {
	border: 0;
	background-color: transparent;
	display: flex;
	align-items: center;
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: $brand-primary;
	cursor: pointer;
	img {
		width: 0.875rem;
		height: 0.875rem;
		margin-right: 0.75rem;
	}
	&:hover {
		filter: brightness(0) saturate(100%) invert(13%) sepia(78%) saturate(4732%) hue-rotate(324deg) brightness(94%) contrast(89%);
		color: $brand-primary-hover;
	}
}
