header {
	background-color: $brand-secondary;
	z-index: 20;
	.navbar {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	header {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 30rem;
		display: flex;
		align-items: flex-start;
		overflow-y: auto;
		.navbar {
			display: flex;
			position: sticky;
			writing-mode: vertical-rl;
			white-space: nowrap;
			padding: 3rem 0;
			.nav-items {
				width: 4rem;
			}
		}
	}
}
