.skills {
	padding-bottom: 4.19rem;
	> h2,
	h3,
	ul {
		width: 92%;
		margin: 0 auto;
	}
	.toolbox {
		display: grid;
		grid-template-columns: repeat(6, 12px);
		grid-template-rows: repeat(2, auto);
		justify-content: space-around;
		align-content: space-around;
		padding: 2rem;
		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			svg {
				width: 2.5rem;
				height: 2.5rem;
			}
			i {
				font-size: 2.5rem;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.skills {
		> h2,
		h3,
		ul {
			max-width: 66.8rem;
		}
		.toolbox {
		}
	}
}
