h1 {
	font-weight: 700;
	font-size: 1.25rem;
	color: $font-color-tertiary;
}

h2 {
	font-size: 0.875rem;
	color: $font-color-tertiary;
}

h3 {
	font-size: 1.5rem;
	color: $font-color-tertiary;
}

h4 {
	font-weight: 700;
	font-size: 1.125rem;
	color: $font-color-tertiary;
	line-height: 1.75rem;
}

p {
	font-size: 1rem;
	line-height: 1.75rem;
}

@media screen and (min-width: 1024px) {
}

.noto-sans {
	font-family: 'Noto Sans Mono', monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

@font-face {
	font-family: 'Satoshi-Variable';
	src: url('/assets/fonts/Satoshi-Variable.woff2') format('woff2'), url('/assets/fonts/Satoshi-Variable.woff') format('woff'),
		url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
	font-weight: 300 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Light';
	src: url('/assets/fonts/Satoshi-Light.woff2') format('woff2'), url('/assets/fonts/Satoshi-Light.woff') format('woff'),
		url('/assets/fonts/Satoshi-Light.ttf') format('truetype');
	font-weight: 300;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Regular';
	src: url('/assets/fonts/Satoshi-Regular.woff2') format('woff2'), url('/assets/fonts/Satoshi-Regular.woff') format('woff'),
		url('/assets/fonts/Satoshi-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Medium';
	src: url('/assets/fonts/Satoshi-Medium.woff2') format('woff2'), url('/assets/fonts/Satoshi-Medium.woff') format('woff'),
		url('/assets/fonts/Satoshi-Medium.ttf') format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Bold';
	src: url('/assets/fonts/Satoshi-Bold.woff2') format('woff2'), url('/assets/fonts/Satoshi-Bold.woff') format('woff'),
		url('/assets/fonts/Satoshi-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Satoshi-Black';
	src: url('/assets/fonts/Satoshi-Black.woff2') format('woff2'), url('/assets/fonts/Satoshi-Black.woff') format('woff'),
		url('/assets/fonts/Satoshi-Black.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}
