@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: #0c0c0c;
  font-family: "Lato", system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

main {
  margin-top: 7.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 800px) {
  main {
    margin-top: 4.8125rem;
  }
}
h1 {
  font-weight: 700;
  font-size: 2.8125rem;
}

h2 {
  font-weight: 700;
  font-size: 2.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.6875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.875rem;
  }
  p {
    font-size: 1.3125rem;
    line-height: 2.0625rem;
  }
}
.about {
  padding: 2.69rem 0 0;
  background-color: #fff6e6;
  text-align: center;
}
.about .about-content {
  margin: 0 auto;
  width: 75%;
  padding-bottom: 1.63rem;
}
.about .about-content h1 {
  white-space: nowrap;
  margin-bottom: 0.5rem;
}
.about .wrapper {
  position: relative;
  width: 100vw;
}
.about .wrapper .avatar {
  width: 25.90194rem;
  margin: 0 auto 0.4rem;
  position: relative;
  z-index: 10;
}
.about .wrapper .avatar-bg {
  position: absolute;
  bottom: -25px;
  left: 0;
  right: 0;
}

@media screen and (min-width: 800px) {
  .about {
    padding: 6.5rem 0 0;
  }
  .about .about-content {
    padding: 0 0 3.94rem;
    max-width: 26.625rem;
  }
  .about .wrapper .avatar {
    margin: 0 auto;
  }
}
.btn-nobg,
.btn-bg {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: transform 150ms ease;
}

.btn-bg {
  background: var(--btn-bg-gradient);
  color: var(--bgfirst);
  height: 38px;
}

.btn-nobg:hover {
  background: var(--btn-bg-gradient);
  color: var(--bgfirst);
}

.btn-bg:hover {
  border: 1px solid var(--font);
  background: unset;
  color: var(--font);
}

.btn-bg:hover,
.btn-nobg:hover {
  transform: scale(1.05);
  cursor: pointer;
}

header {
  top: 0;
  width: 100%;
  height: 7.2rem;
  background-color: #fff6e6;
  z-index: 20;
}

.navbar {
  height: 100%;
  max-width: 81.375rem;
  margin: 0 auto;
}
.navbar > a {
  text-align: center;
  margin: 1.5rem 4.31rem;
}
.navbar ul {
  align-items: center;
  justify-content: center;
  gap: 3.25rem;
  background-color: #fff;
  padding: 0.84rem 0;
  color: #181818;
  font-size: 1.125rem;
}

@media screen and (min-width: 800px) {
  header {
    height: 4.8125rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar > a {
    text-align: left;
    margin: 0;
  }
  .navbar ul {
    background-color: inherit;
    padding: 0;
  }
}
.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}
